.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'ProximaNova', sans-serif;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none; // không select (bôi đen) được chữ của button
    color: var(--text-color);
    text-decoration: none;

    + .wrapper {
        margin-left: 8px;
    }

    // Để trong này sẽ được ưu tiên hơn để ở ngoài
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// icons

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-flex;
    width: 22px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 6%);
    border-color: rgba(22, 24, 35, 0.14);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        cursor: pointer;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
        cursor: pointer;
    }
}

.text {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.textBtn {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #161823;
    cursor: pointer;
}

.imgUploadBtn {
    display: flex;
}

.uploadBtn {
    min-width: 110px;
    padding: 0 14px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
// Button sizes

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
